html {
    height: 100vh;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s ease;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: #6B73;
  }
  
  body:hover{
    perspective: 400px; transform: rotateY(180deg);
  }

  .squad-card-hover{
    border: 5px solid #73896B; background: linear-gradient(#73896B, #ffffff);
    border-radius: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }