{% render 'partials/head.liquid', title: 'Squad page' %}

<section class="squad-filters">
  <a href="https://connect-your-tribe-squad-page-zutg.onrender.com/name">Naam</a>
  <a href="https://connect-your-tribe-squad-page-zutg.onrender.com/team">Team</a>
  <a href="https://connect-your-tribe-squad-page-zutg.onrender.com/color">Favoriete kleur</a>
</section>

<section class="squad-card-section">
    <h2>Squad Cards FDND</h2>

    <article class="squad-cards">
        {% for person in persons %}
        <a href="/student/{{ person.name }}">, <img src=" {{ person.avatar }} " alt="/student/{{ person.id }}"
                height="200px" width="200px"></a>
        {% endfor %}
    </article>
</section>


{% render 'partials/foot.liquid', squads: squads %}